@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

.container-1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 16px 96px 96px 96px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-3 {
    background-color: #e5e7eb;
    
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-bottom: 150px;
}

.header-links {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
    list-style: none;
    color: white;
    align-items: center;
    
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    display: flex;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}

.hero-container {
    display: flex;
    justify-content: center;
}

.main-title {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    justify-content: center;
    display: flex;
}

.hero-image{
    width: 500px;
    height: 250px;
    background-color: grey;
    flex-shrink: 0;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 800;
    padding: 6px 30px;
    margin-top: 24px;
    border-radius: 12px;
    border-style: none;
    outline-style: none;
}

.main-title-container {
    margin-right: 24px;
    max-width: 500px;
}

.info {
 display: flex;
 justify-content: center;
 font-size: 36px;
 font-weight: 600;
 padding-top: 32px;
 margin-bottom: 24px;
}

.card-container {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;

}

.card-and-text {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    align-items: center;
    gap: 16px;
}
.card {
    display: flex;
    border: 6px solid #6fb2c7;
    width: 190px;
    height: 200px;
    border-radius: 20px;
    justify-self: center;
}

.card-text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.quote-container {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
}

.attribution {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    font-weight: 700;
    font-size: 36px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 200;  
}

.action-call {
    background-color: #3882f6;
    height: 150px;
    width: 1200px;
    display: flex;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

#action-button {
    border: 2px solid white;
    max-height: 50px;
}

.action-bold {
    color: white;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0;
}

.action-light {
    color: white;
    font-style: italic;
    margin-top: 0;
}

.footer {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: white;
}